run = "python -m venv venv && . venv/bin/activate && pip install -r requirements.txt && python app.py"
language = "python3"
entrypoint = "app.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python -m venv venv && . venv/bin/activate && pip install -r requirements.txt && python app.py"]
