run = "pip install --user --break-system-packages -r requirements.txt && python app.py"
language = "python3"
entrypoint = "app.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "pip install --user --break-system-packages -r requirements.txt && python app.py"]
